@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf ) format("truetype");
}

body {
    background-color: beige;
}

p {
    padding: 0vw 5vw;
}


html {
    font-family: Roboto;
}


.container {
display: block;
position: static;
width: 50vw;
background-color: rgb(57, 57, 156);
font-size: 1vw;
color: azure;
justify-self: center;


html {
    font-family: Roboto;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    list-style-type: none;
    background-color: azure;
}

/* Home page*/

#home {
    height: 100vh;
    position: static;
}

.logo {
    display: block;
    text-align: center;
    align-content: center;
    color: azure;
    background-color: navy;
    height: 7vh;
    width: 7vw;
}

.nav-links {
    list-style-type: none;
    display: flex;
    align-self: center;
}

.nav-links li {
    display: block;
}

.nav-links a {
    display: block;
    text-align: center;
    align-content: center;
    color: navy;
    height: 7vh;
    width: 7vw;
    text-decoration: none;
}

a:hover {
    color: azure;
    background-color: navy;
    }
}

h1 {
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 20vh;
    height: fit-content;
    width: 50vw;
    font-size: 4vw;
}

#home_banner {
    height: 25vh;
    display: flex;
    justify-self: center;
    width: 45vw;
}  

/* Product page */

#products {
    height: 100vh;
    position: static;
}

.product_text {
    color: navy;
    padding: 1vh 2vw;
}


h2 {
    top: 7vh;
    display: flex;
    text-align: center;
    height: 10vh;
    width: auto;
    font-size: 3vw;
    padding: 1vh 2vw;
}

#product_banner {
    justify-content: center;
    padding: 0vh 1vw;
    height: 20vh;
    width: 46vw;
}

.all_products {
    display: flex;
    justify-content: space-evenly;
}

.all_products article {
    min-height: 50vh;
    height: fit-content;
    width: 15vw;
    background-color: azure;
}

.product {
    height: 25vh;
    width: 15vw;
    justify-content: space-around;
}

figcaption {
    font-size: 2vw;
    padding: 0vh 1vw;
    color: navy;
}

/* Contact page */

#contact {
    height: 100vh;
    position: static;
}

h3 {
    display: flex;
    justify-content: start;
    top: 14vh;
    height: 10vh;
    width: auto;
    padding: 1vh 2vw;
    font-size: 3vw;
}

#contact p {
    padding: 1vh 2vw;
}

#contact_info {
    display: flex;
    padding: 7vh 0vw;
    
}

#map {
    display: flex;
    justify-self: end;
    height: 30vh;
    width: 30vw;
    padding: 3vh 2vw;

}